<header>
  <h1> Bienvenue sur Conversights </h1>
  <p> Dévouvrez-notre nos recherches de produit client </p>
</header>
<%= Navbar %>
<nav class="navbar">
  <div class="navbar_brand">Conversights</div>
  <ul class="navbar_links">
    <li><a href="#fonctionnalités">Fonctionnalités</a></li>
    <li><a href="#tarif">Tarifs</a></li>
    <li><a href="#about">à propos</a></li>
    <li><a href="#login"> Se connecter</a></li>
    <li><a href="#signup">Créer un compte</a></li>
  </ul>
</nav>

<footer>
  <p>© Conversight 2026</p>
</footer>
