<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
   <title> Landing Page Conversights</title>
  <meta name="viewport" content="width=divice-with, initial-scale=1.0">
</head>
<body>
  <header>
    <h1> Bienvenue sur Conversights </h1>
    <p> Dévouvrez-notre nos recherches de produit client </p>
  </header>

  <!-- <section> -->
  <!-- </section> -->

  <!-- <div></div> -->
  <!-- <div></div> -->

  <footer>
    <p>© Conversight 2026</p>
  </footer>
</body>
</html>
